# Appwrite settings
NEXT_PUBLIC_APPWRITE_ENDPOINT = localhost/v1
NEXT_PUBLIC_APPWRITE_PROJECT = project-id
APPWRITE_KEY = abc123def456

# Configurations
NEXT_PUBLIC_ROOMS_DB = rooms # Rooms database ID
NEXT_PUBLIC_ROOMS_COLLECTION = 66ec2a4c0018f0a1064f # Rooms collection ID