.title {
    padding: 20px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title p {
    margin-top: 5px;
    font-size: 18px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
    width: 100%;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .navbar {
        position: inherit;
        justify-content: center;
    }
}