.block {
    width: 200px;
    padding: 20px;
    border: 5px solid;
    border-radius: 15px;
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    margin: 5px;
    box-shadow: 8px 8px 15px -10px rgba(66, 68, 90, 0.75);
    transition: .15s ease-in-out;
}

.admin_block {
    position: relative;
    width: 200px;
}

.empty {
    border-color: #0f9e56;
}
.empty:hover {
    border-color: #0c7e45;
}

.full {
    border-color: rgb(236, 31, 31);
}
.full:hover {
    border-color: #bd1919;
}

.small {
    color: rgb(115 115 115);
    font-size: 15px;
    margin-bottom: 50px;
}

.content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 20px;
    width: min-content;
}

.title {
    font-size: 24px;
    line-height: 32px; 
    font-weight: 600; 
    letter-spacing: -0.4px;
}