.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(124,58,237,1) 30%, rgba(124,58,237,0.5) 73%, rgba(255,255,255,1) 100%);
}

.card {
    width: 40%;
}

@media screen and (max-width: 700px) {
    .card {
        width: 80%;
    }
}