.title {
    padding: 20px;
    text-align: center;
}

.title p {
    margin-top: 5px;
    font-size: 18px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
    width: 100%;
    flex-wrap: wrap;
}

.title h1 {
   font-size: 48px;
   line-height: 1; 
   font-weight: 800;
   letter-spacing: -0.4px;
}

@media (max-width: 1080px) {
    .navbar {
        position: inherit;
        justify-content: center;
        gap: 10px
    }
    .title h1 {
        font-size: 32px;
    }
}